#root {
  /* max-width: 1280px; */
  margin: 0 auto;

  text-align: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
